.blog-page-absolute {
    background-color: white;
    width: 65%;
    margin: 0 auto;
    padding: 7rem 3rem 2rem 3rem;
}

.blog-page-main-info h2{
    font-size: 3rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.blog-trip-advisor {
    font-size: 1.1rem;
    font-family: 'Poppins', serif;
    color: $primary-color;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-page-main-info p a {
    color: $secondary-color;
    text-decoration: none;
} 

.alex-profile-pic {
    width: 50%;
}

.alex-profile-pic div {
    text-align: left;
}

.alex-profile-pic div h4 {
    font-size: 1.5rem;
    font-family: 'Playfair Display', sans-serif;
}

.alex-profile-pic img {
    width: 15%;
    border-radius: 50%;
    border: 1px solid white;
}

.alex-profile {
    margin-left: 1.5rem;
}

.alex-profile h4 {
    margin: 1.5rem 0 1rem 0 ;
}

.alex-profile p {
    font-family: 'Poppins', serif;
    color: #999;
}

.blog-side-info {
    width: 15%;
}

.blog-side-info h4 {
    font-size: 1.5rem;
    margin-top: 0.6rem;
}

.blog-side-info p {
    font-family: 'Poppins', serif;
    color: #999;
}

.blog-page-paragraphs {
    border-top: 1px solid #CCCCCC;
    margin-top: 3rem;
}

.blog-page-paragraphs p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
    font-family: 'Poppins', serif;
}

.blog-bold-p {
    margin-top: 3rem;
}

.blog-page-paragraphs p:not(.blog-bold-p) {
    font-weight: 400;
    margin-top: 2rem;
    color: #ccc;
}

.share-icons {
    width: 20%;
    color: #ccc;
    margin: 5rem 0 7rem 0;
}

.share-icons i {
    width: 12%;
    color: #ccc;
    font-size: 1.2rem;
} 

.share-icons i:hover {
    color: #A4F1DC;
}

.share-icons span {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.related-post {
    width: calc ((100% / 3) - 2%);
    border-top: 1px solid #ccc;
    padding-top: 4rem;
}

.related-post:hover {
    box-shadow: 1px 1px 15px #000;
}

.related-post:hover .related-post-info p {
    text-decoration: underline;
}

.related-post-container h3 {
    font-size: 2.6rem;
    padding-bottom: 2rem;
}

.related-post img {
    width: 96%;
}

.related-post-info {
    width: 85%; 
    margin: 0 auto;
    padding: 1.4rem 0;
}

.date { 
    font-size: 1.2rem;
    font-family: 'Poppins', serif;
    color: #999;
}

.related-post-info p {
    margin-top: 1rem;
    font-size: 1.6rem;

}

.related-post-info .blog-continue {
    font-family: 'Poppins', serif;
    font-size: 1.1rem;
}

// comments

.comment {
    margin-top: 3rem;
}

.comment h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.blog-comments img {
    width: 6%;
}

.single-comment {
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}


.tip {
    width: 0px;
    height: 0px; 
    position: absolute;
    background: transparent;
    border: 10px solid #EDEDED;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}


.text-comment .body {
    position: relative;
    max-width: 800px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #EDEDED;
    border: 5px solid #EDEDED;
}

.body .message {
    min-height: 30px;
    border-radius: 3px;
    font-family: 'Poppins', serif;
    line-height: 1.5;
    color: #EDEDED;
}