.wrapper-blog { 
    max-width: 1800px;
}

.wrapper-blog,
.blog-page-absolute,
.blog-page-main-info h2,
.related-post-info {
    margin: 0 auto;
}

.blog-page-absolute {
    width: 65%;
    padding: 7rem 3rem 2rem 3rem;
    top: -8rem;
}

.blog-page-absolute,
.text-comment .body {
    position: relative;
}

.blog-button-overline .blog-button,
.blog-page-main-info h2 {
    margin-bottom: 3rem;
}

.blog-page-main-info h2{
    font-size: 3rem;
    width: 60%;
}

.blog-page-main-info h2,
.blog-side-info h4,
.related-post-container h3,
.related-post-info .blog-continue,
.comment h2 {
    font-weight: 700;
}

.blog-page-main-info h2,
.blog-trip-advisor {
    text-align: center;
}

.blog-trip-advisor {
    color: $color-one;
    margin-bottom: 5rem;
}

.alex-profile-pic {
    width: 50%;
}

.alex-profile-pic img,
.blog-side-info {
    width: 15%;
}

.alex-profile-pic div h4 {
    font-family: 'Playfair Display', serif;
}

.alex-profile-pic img {
    border-radius: 50%;
    border: 1px solid $color-nine;
}

.alex-profile {
    margin-left: 1.5rem;
}

.alex-profile h4 {
    margin: 1.5rem 0 1rem 0 ;
}

.blog-side-info {
    margin-top: 1.8rem;
}

.alex-profile-pic div,
.blog-page-paragraphs p  {
    text-align: left;
}

.blog-page-paragraphs p {
    line-height: 2rem;
    margin-bottom: 1.2rem;
}

.blog-page-paragraphs p:not(.blog-bold-p) {
    font-weight: 400;
}

.share-icons {
    width: 20%;
    margin: 5rem 0 7rem 0;
}

.share-icons i {
    width: 12%;
} 

.share-icons i:hover,
.message-box .message-reply  {
    color: $color-five;
}

.blog-page-main-info p a,
.message p,
.alex-profile p,
.blog-side-info p,
.date {
    color: $color-two;
}

.blog-page-paragraphs p:not(.blog-bold-p),
.share-icons,
.share-icons i,
.message-box span {
    color: $color-four;
}

.blog-page-absolute,
.blog-forms input[type="email"] {
    background-color: $color-nine;
}

.blog-button-overline .blog-button:hover {
    color: $color-one;
}

.alex-profile-pic div h4,
.blog-side-info h4,
.share-icons span {
    font-size: 1.5rem;
}

.blog-page-paragraphs,
.related-post,
.single-comment,
.blog-button-overline,
.blog-container  {
    border-top: 1px solid $color-four;
}

input,
.share-icons span,
.related-post  {
    margin-right: 2rem;
}

.related-post {
    width: calc ((100% / 3) - 2%);
    margin-top: 4rem;
}

.related-post:hover {
    box-shadow: 1px 1px 15px $color-one;
}

.related-post:hover .related-post-info p {
    text-decoration: underline;
}

.related-post-container h3 {
    font-size: 2.6rem;
}

.related-post-info-container,
.related-post img {
    width: 100%;
}

.related-post-info {
    width: 86%; 
    padding: 1.4rem 0;
}


.blog-side-info p,
.related-post-info p {
    margin-top: 1rem;
}

.related-post-info p {
    font-size: 1.6rem;
}


.blog-trip-advisor,
.alex-profile p,
.blog-side-info p,
.blog-page-paragraphs p,
.date,
.related-post-info .blog-continue,
.body .message {
    font-family: 'Poppins', sans-serif;
}


.blog-trip-advisor
.blog-page-paragraphs p,
.related-post-info .blog-continue  {
    font-size: 1.1rem;
}


// comments

.comment h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.blog-comments img {
    width: 6%;
}

.single-comment {
    padding-top: 2rem;
}


.tip {
    width: 0px;
    height: 0px; 
    position: absolute;
    background: transparent;
    border: 10px solid $color-ten;
}

.tip-left {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}


.text-comment .body {
    max-width: 800px;
    height: auto;
    margin: 1.25px 0.62rem;
    padding: 5px;
    background-color: $color-ten;
    border: 5px solid $color-ten;
}

.body .message {
    min-height: 30px;
    border-radius: 1.85rem;
    line-height: 1.5;
}

.message {
    padding: 1rem 1.5rem;
}
.share-icons i 
.date,
.message h5 { 
    font-size: 1.2rem;
}

.date,
.message p {
    margin-bottom: 1rem;
}

.message p {
    padding-top: 0.7rem;
}

.message-box .message-reply {
    text-transform: capitalize;
}

.blog-forms h2,
.comment {
    margin-top: 8rem;
}

.related-post-container h3,
.blog-forms h2 {
    padding-bottom: 2rem;
}

.blog-forms form {
    margin-bottom: 7rem;
}

.blog-page-paragraphs,
.blog-bold-p,
.blog-forms form {
    margin-top: 3rem;
}

.blog-trip-advisor,
.blog-page-paragraphs p:not(.blog-bold-p),
.blog-forms .forms-your-comment,
.text-comment,
.related-post-info .blog-continue {
    margin-top: 2rem;
}

.blog-forms .forms-your-comment {
    border-bottom: none;
}

.forms-your-comment-w {
    width: 90%;
    height: 8rem;
}

.blog-page-main-info p a,
.blog-forms input[type="text"] {
    text-decoration: none;
}

.blog-forms input[type="text"],
.blog-forms input[type="email"] {
    width: 30%;
    padding-bottom: 1rem;
}

.message p
.blog-button-overline .blog-button {
    font-size: 1rem;
}


.blog-button-overline .blog-button {
    padding: 1.5rem 3.2rem;
    font-weight: 600;
    background-color: $color-seven;
    color: $color-nine;
    text-transform: uppercase;
    border-radius: 0.1rem;
    margin-top: 5rem;
}

.forms-your-comment-w,
.blog-forms input[type="text"],
.blog-button-overline .blog-button {
    border: none;
}

.blog-button:focus {
    border: 1px solid $color-eight;
}

.blog-forms h2,
.blog-forms input[type="text"],
.blog-forms input[type="email"]  {
    border-bottom: 1px solid $color-four;    
}