// contact styles 


// contact detail styles

.wrapper-contact {
    max-width: $largest-size;
    margin: 0 auto;
    width: 60%;

    > h2 {
        font-size: 3.5rem;
        padding-top: 10rem;
        font-family: 'Playfair Display', serif;
    }
    > p {
        width: 50%;
        line-height: 2rem;
        color: $color-two;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 1.3rem;
    }
    .contact-option-container {
        width: 95%;
        margin: 2rem auto;
    }
}

.contact-options:not(.contact-email)  {
    border-right: 1px solid $color-four;
}

.contact-options {
    width: 32%;
    padding: 3.3rem 2rem 3.3rem 3.3rem;

    i {
        font-size: 3rem;
    }
    h4 {
        font-size: 1.3rem;
        font-family: 'Playfair Display', serif;
        color: $color-one;
        margin-top: 1.1rem;
    }
    p {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        color: $color-two;
        line-height: 1.5rem;
        margin-top: 0.6rem;
    }
}


// aside info styles 

.contact-touch { 

    h2 {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    }
    p {
        font-family: 'Poppins', sans-serif;
        color: $color-two;
        margin-bottom: 6rem;
        border-bottom: none;
        margin-top: 2rem;
    }
}


// forms styles 

.contact-forms {
    border-bottom: none;
    margin-top: 2rem;

    input[type="email"] {
        background-color: $color-three;
    }
    input[type="text"]  {
        border: none;
        text-decoration: none;
    }
    input[type="email"],
    input[type="text"] {
        width: 30%;
        padding-bottom: 1rem;
        margin-right: 2rem;
        border-bottom: 1px solid $color-four;
    }
    input[type="textarea"] {
        height: 6rem;
        margin-bottom: 8rem;  
    }
    .forms-your-comment {
        font-size: 1.1rem;
        width: 100%;
        height: 4rem;
        background-color: $color-three;
        border: none;
        text-decoration: none;
    }
    .forms-your-comment:hover {
        color: $color-one;
    }
}


// button styles 

.contact-button {
    margin-bottom: 5rem;
    border-top: 1px solid $color-four;

    button {
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: $color-one;
        margin: 4rem 0 3rem 0;
        padding: 0.7rem 0;
        border: none;
        border-bottom: 1px solid $color-one;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.contact-button button:focus {
    border: 1px dotted $color-eight;
}


// image styles 

.contact-image-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: $largest-size;
    height: 70vh;
    background-image: url(../sunshine-assets/contact-2.jpeg);
    margin: 0 auto;
}

// contact styles end 