// footer styles

footer {
    font-family: 'Poppins', sans-serif;
    background-color: $color-one;
}

.wrapper-footer {
    max-width: 1600px;
    width: 60%;
}


// navigation list 

.footer-page-container {
    display: flex;
    flex: 1 0 38.5%;
}

.footer-flex {
    padding-top: 4.5rem;
    padding-bottom: 4.8rem;

    li:focus a {
        color: $color-eight;
    }
    .footer-pages {
        flex: 1 0 29%;

        li a {
            text-transform: capitalize;
            color: $color-two;
            font-size: 1.1rem;
        }
        li:hover a {
            color: $color-three;
        }
        li {
            margin: 0.5rem 0;
        }
    }
    .form-footer {
        flex: 1 0 30%;
        border-bottom: 1px solid $color-three;
        p {
            color: $color-two;
            margin-bottom: 1.7rem;
        }
        i {
            color: $color-nine;
        }
        input[type="email"] {
            border: none;
            color: $color-two;
            font-size: 1.2rem;
            padding: 0.5rem 0;
            background-color: $color-one;
        }
    }
}

// copyright styles

.copyright {
    color: $color-two;
    flex: 1 0 70%;
    i {
        color: $color-three;
    }
} 

.footer-social-media {
    padding: 3rem 0 ;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    flex: 1 0 0%;
}

.footer-social-media i,
.footer-social-media:focus i {
    color: $color-three;
}

.footer-line {
    border-top: 1px solid $color-two;
}

// footer styles end 