* {
    transition: all 0.25s linear;
}

*,
.shopping {
    color: $color-one;
}

html {
    font-size: 62.5%;
}

header {
    background-color: $color-three;
    .fixed {
        background-color: $color-nine;
        width: 100% ;
        position: fixed;
        z-index: 1000;
    }
    .wrapper-header {
        max-width: 1600px;
        width: 60%;
        background-color: $color-nine;
        margin: 0 auto;
        .header-container {
            align-content: flex-end;
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;
        }
    }
}

nav{
    width: 100% ;
    .flex-header { 
        li a {
        text-transform: uppercase;
        font-weight: 600;
        }
        .flex-header li:focus a {
            color: $color-eight;
        }
        .flex-header li:hover a {
            color: $color-two;
        }
    }
}

.flex {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    li a {
        text-decoration: none;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }
}

.first-nav {
    flex: 1 0 20%;
    min-width: 6.2rem;
}

.header-logo {
    text-align: center;
    padding-left: 3rem;
    flex: 2.5 0 40%;
    h1 {
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }
}

.header-icons {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.suitcase {
    margin-left: 1.3rem;
}

.cart {
    color: $color-five;
    top: -5px;
    right: -33px;
}

.shopping {
    top: -10px;
    right: -5px;
    font-size: 0.9rem;
}

.cart,
.shopping {
    position: relative;
}

.header-image {
    height: 100vh;
    background-image: url(../sunshine-assets/home-1.jpeg);
}

.header-image-blog {
    height: 80vh;
    background-image: url(../sunshine-assets/blog-1.jpeg);
}

.header-image-contact {
    height: 65vh;
    background-image: url(../sunshine-assets/contact-1.jpeg);
}

.header-image,
.header-image-blog,
.header-image-contact {
    max-width: 1800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper-footer,
.header-image,
.header-image-blog,
.header-image-contact {
    margin: 0 auto;
}