main {
    background-color: $color-three;
}

.wrapper-main {
    width: 54%;
}

.wrapper-main,
.home-section-2-container, 
.wrapper-main-section-3 {
    max-width: 1600px;
}

.wrapper-main,
.home-section-2-container, 
.wrapper-main-section-3,
.pattern-bg,
.home-section-4 {
    margin: 0 auto;
}

.wrapper-main h4{
    padding: 14rem 0 7rem 0;
}

.wrapper-main h4,
.home-section-3-title {
    padding: 18rem 0 9rem 0;
    font-size: 1.3rem;
    letter-spacing: 0.6rem;
}

.wrapper-main h4,
.home-section-3-title,
.home-section-1-info p,
.home-section-2-flex-column p,
.home-chevron-right i:hover,
.home-chevron-left i:hover,
.testimonial .adam-levine,
.home-section-4-info h4,
.home-section-4-info span {
    color: $color-two;
} 

.wrapper-main h4,
.home-section-3-title,
.testimonial,
.gallery {
    text-align: center;
}

.wrapper-main h4,
.home-section-3-title,
.home-section-2-flex-column h4,
.home-section-4-info h4 {
    text-transform: uppercase;
}

.wrapper-main h4,
.home-section-3-title,
.home-section-1-info span,
.home-section-2-flex-column h4,
.home-section-4-info h2,
.home-section-4-info .section-4-email  {
    font-weight: 700;
}

.wrapper-main h4,
.home-section-3-title,
.home-section-1-info p,
.home-section-2-flex-column h4,
.home-section-2-flex-column p,
.testimonial .adam-levine,
.home-section-4-info h4,
.home-section-4-info p  {
    font-family: 'Poppins', sans-serif;    
}

.home-main-flex {
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    margin-bottom: 21rem;
}

.home-main-flex,
.testimonial {
    position: relative;
}

.home-main-flex,
.home-section-2-flex,
.home-section-2-flex-column,
.home-section-4-info,
.home-section-2-info {
    display: flex;
}

.girl-smiling {
    flex: 1 0 34%;
    border: 1.1rem solid $color-nine;
    margin: 0 3rem;
}

.home-section-1-info::before {
    content: '';
    width: 15%;
    border-top: 2px solid $color-two;
    display:block;
    padding-bottom: 2.5rem;
}

.home-section-1-info {
    flex: 1 0 43%;
    margin-left: 2.6rem;
}

.home-section-1-info h2 {
    font-size: 3.5rem;
    line-height: 3.8rem;
}

.home-section-1-info h2,
.testimonial h2, 
.testimonial p,
.gallery,
.home-section-4-info h2,
.home-section-4-info h3,
.home-section-4-info .section-4-email {
    font-family: 'Playfair Display', serif;
}

.home-section-1-info p {
    line-height: 2.5rem;
    margin-top: 3rem;
}

.home-section-1-info p,
.testimonial .adam-levine,
.home-section-4-info p {
    font-size: 1.2rem;
}

.resort-logo {
    width: 25%;
    bottom: -9rem;
    left: -7.5rem;
}

.resort-logo,
.home-chevron-right,
.home-chevron-left {
    position: absolute;
}

.main-image-1 {
    flex: 1 0 30%;
    background-image: url(../sunshine-assets/home-3.jpeg);
}


.home-section-2-container,
.pattern-bg,
.home-section-4  {
    max-width: 1800px;
}


.home-section-2-flex-column {
    flex: 0 0 77%;
}

.home-section-2-flex-column,
.home-section-4-info {
    flex-direction: column;
}

.home-section-2-flex-column h4 {
    font-size: 1.3rem;
    letter-spacing: 0.15rem;
}

.home-section-2-flex-column p {
    font-size: 1.15rem;
    line-height: 2rem;
}

.home-section-2-flex-column p, 
.home-gallery-images img {
    margin-top: 1rem;
}

.home-section-2-info {
    flex: 1 0 60%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 16rem 5rem 12rem 5rem;
}

.home-main-amenities {
    width: 33%;
    margin: 0 3rem 3rem 0;
    padding: 0.5rem;
}

.home-main-amenities:hover {
    box-shadow: 1px 1px 5px $color-one;
}

.home-main-amenities i {
    font-size: 2.7rem;
    flex: 0 0 18%;
}

/* next section  */

.pattern-bg {
    background-image: url(../sunshine-assets/pattern.png);
}

.wrapper-main-section-3,
.home-section-4-info p {
    width: 60%;
}

.wrapper-main-section-3 .home-section-3-title {
    padding: 5rem 0 5rem 0;
}
.home-section-3-box {
    padding: 6rem 0rem;
}

.testimonial {
    padding: 5rem;
    z-index: 1;
}

.testimonial:hover {
    box-shadow: 0.5rem 0.5rem 1rem $color-one;
}

.testimonial h2 {
    font-size: 5rem;
    margin-bottom: 5rem; 
}

.testimonial p {
    width: 83%;
    line-height: 3rem;
    margin: auto;
}

.testimonial p,
.home-section-3-stars i {
    font-size: 1.7rem;
}

.testimonial p,
.home-section-4-info span {
    font-weight: 400;
}

.home-section-3-stars {
    margin: 3.5rem 0;
}

.home-section-3-stars i {
    color: $color-six;
}

.home-chevron-right i,
.home-chevron-left i {
    font-size: 3.3rem;
}

.home-chevron-right i,
.home-chevron-left i,
.testimonial .adam-levine span,
.home-section-4-info .section-4-email {
    color: $color-one;
}

.home-chevron-right {
    right: -8rem;
    bottom: 25rem;
}

.home-chevron-left {
    left: -8rem;
    bottom: 25rem;
}

// next section 

.gallery {
    font-size: 5.5rem;
}

.home-gallery-images {
    margin-top: 4rem;
    padding-bottom: 17rem;
}

.home-gallery-images img {
    width: calc((100% / 3) - 8px);
    margin-right: 0.6rem;
}


// next section 

.home-section-2-info,
.testimonial,
.home-section-4 {
    background-color: $color-nine;
}

.main-image-1,
.main-image-2 {
    background-size: cover;
}


.main-image-2 {
    background-image: url(../sunshine-assets/home-10.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 64rem;
    flex: 1 1 57%;
}

.home-section-4-info {
    margin: 10rem;
    flex: 1 1 30%;
}

.home-section-4-info h4 {
    font-size: 1rem;
    letter-spacing: 0.7rem;
    margin-bottom: 2.4rem;
}

.home-section-4-info h2 {
    font-size: 4.5rem;
    margin-bottom: 10rem;
}

.home-section-4-info h3{
    font-size: 2rem;
}

.home-section-4-info p {
    margin: 1.3rem 0 2.4rem 0;
    line-height: 2rem;
}

.home-section-4-info .home-phone-number {
    font-size: 2.8rem;
}
