@media (max-width: 1082px) {
    * {
        color: red;
    }
    header{
        .wrapper-header {
            width: 70%;
        }
    }   

    // home-main 1082px

    .wrapper-main {
        width: 70%;
    }
    .home-section-4 .home-section-4-info {
        margin: 9rem;
    }
    .wrapper-footer {
        width: 70%;
    }
}


@media (max-width: 938px) {
    * {
        color: green;
    }

    // header 938px 

    header{
        .wrapper-header {
            width: 80%;
        }
    } 

    // home main 938px 

    .wrapper-main {
    width: 75%;
        h4 {
            padding: 14rem 0 8rem 0;
        }
    }
    .home-section-2-container {   
        .home-section-2-info {
            justify-content: center;
            padding: 12rem 3rem 7rem 3rem;
            .home-main-amenities {
                width: 40%;
            }
        }
    }
    .pattern-bg .wrapper-main-section-3 {
        width: 75%;
    }
    .home-section-4 .home-section-4-info {
        margin: 7rem;
    }

    // footer 938px 

    .wrapper-footer {
        width: 80%;
    }
}


@media (max-width: 865px) {
    * {
        color: blue;
    }

    // header styles 

    header{
        .wrapper-header {
            width: 90%;
        }
    } 

    // main styles 

    .wrapper-main {
    width: 85%;
        h4 {
            padding: 12rem 0 6rem 0;
        }
        .home-main-flex {
            margin-bottom: 17rem;
            .resort-logo {
                left: -5.5rem;
            }
        }
    }

    // section 2

    .home-main-amenities:nth-child(2n) {
        margin: 0 0 3rem 0;
    }


    // section 3

    .pattern-bg .wrapper-main-section-3 {
        width: 85%;
    }

    .testimonial {
        .home-chevron-right {
            right: -5rem;
        }
        .home-chevron-left {
            left: -5rem;
        }
    }

    // footer styles 

    .wrapper-footer {
        width: 90%;
    }
}

@media (max-width: 780px) {

    .home-section-2-container {   
        .home-section-2-info {
            padding: 9rem 3rem 6rem 3rem;
        }
    }
    .home-section-2-flex-a {
        display: block;
    }
    .main-image-1 {
        display: none;
    }
    .main-image-1-ipad {
        display: block;
        height: 50rem;
        background-position: bottom;
        background-image: url(../sunshine-assets/home-3.jpeg);
        background-size: cover;
    }
    
    .pattern-bg .wrapper-main-section-3 {
        .home-section-3-title {
            padding: 3rem 0 5rem 0;
        }
    }
    .home-gallery-images {
        padding-bottom: 14rem;
    }

    .home-section-4 {
        .home-section-4-info {
            text-align: center;
            h3 {
                margin-bottom: 1rem;
            }
            h2 {
                margin-bottom: 4rem;
            }
            p {
                width: 100%;
                margin: 0.5rem 0 0.5rem 0;
            }
        }
    }
}


@media (max-width: 768px) {
    header{
        .wrapper-header {
            width: 95%;
        }
    }

    .wrapper-main {
        .home-main-flex {
            .girl-smiling {
                flex: 1 0 44%;
            }
            .resort-logo {
                left: -3.5rem;
            }
        }
    }
    .home-section-2-container {
        .home-section-2-info {
            .home-main-amenities {
                width: 46%;
            }
        }
    }

    .pattern-bg {
        .wrapper-main-section-3 {
            width: 95%;
            .testimonial .home-chevron-right {
                right: 2rem;
            }
            .testimonial .home-chevron-left {
                left: 2rem;
            }
        }
    }
    .wrapper-footer {
        width: 95%;
    }

}

@media (max-width: 680px) {
    * {
        color: purple;
    }
    html {
        font-size: 58%;
    }
    .header-image{
        background-position: right;
    }
        .home-gallery-images {
        img {
            width: calc((100% / 2) - 8px);
        }   
        img:hover {
            transform: scale(1.1);
        }
    }
    .home-section-4 {
        .main-image-2 {
            height: 40rem;
        }
    }
}

@media (max-width: 530px) {
    * {
        color: orange;
    }
    .first-nav {
        display: none;
    }
    .hamburger {
        display: block;
        font-size: 3rem;
    }

    .wrapper-main {
        h4 {
            padding: 7rem 0 5rem 0;
        }
        .home-main-flex {
            margin-bottom: 7rem;
            flex-direction: column;
            .home-section-1-info {
                margin-top: 3rem;
            }
            .resort-logo {
                left: -1.5rem;
                top: -5rem;
            }
        }
    }
    .home-gallery-images {
        padding-bottom: 7rem;
    }
    .home-section-4 {
        .home-section-4-info {
            margin: 5rem;
        }
    }
    .footer-flex {
        flex-direction: column;
        .footer-page-container {
            width: 90%;
        }
        .form-footer {
            margin-top: 4rem;
            width: 90%;
            .flex {
                width: 100%;
            }
        }
    }
}

@media (max-width: 484px) {
    * {
        color: pink;
    }
    .home-section-1-info h2 {
        font-size: 4.5rem;
        line-height: 5.5rem;
    }
    .home-section-2-container {
        .home-section-2-info {
            .home-main-amenities {
                width: 100%;
                margin: 1rem 0;
                padding: 1.2rem;
            }
            .home-main-amenities i {
                font-size: 5rem;
            }
        }
    }
}

@media (max-width: 450px) {
    .wrapper-main {
        .home-main-flex {
            .girl-smiling {
                margin: 0;
            }
            .resort-logo {
                left: 2.5rem;
                top: 2rem;
            }
        }
    }
    .home-gallery-images {
        img {
            width: 100%;
            margin: 1rem 0;
        }
        img:hover {
            transform: none;
        }
    }
}

@media (max-width: 360px) {
    .home-section-1-info h2 {
        font-size: 3.9rem;
        line-height: 3.9rem;
    }
    .home-section-2-container {
        .home-section-2-info {
            padding: 5rem 3rem 5rem 3rem;
        }
    }

    .testimonial p {
        font-size: 1.4rem;
    }
}