$color-one: #000000;
$color-two: #999999;
$color-three: #EDEDED;
$color-four: #CCCCCC;
$color-five: #A4F1DC;
$color-six: #F6AB09;
$color-seven: #84A016;
$color-eight: #800080;
$color-nine:rgb(255,255,255);
$color-ten: rgb(243,243,243);

