a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  color: #000000;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

header {
  background-color: #ededed;
}

html {
  font-size: 62.5%;
}

.wrapper-header,
.wrapper-footer {
  max-width: 1600px;
  width: 60%;
  margin: 0 auto;
}

.wrapper-header {
  background-color: white;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.home-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding: 2rem 0;
}

nav {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-header li a {
  text-transform: uppercase;
  font-weight: 600;
}

.flex-header li:focus a {
  color: #800080;
}

.flex li a {
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.flex-header li:hover a {
  color: gray;
}

.first-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  min-width: 6.2rem;
}

.home-logo {
  text-align: center;
  padding-left: 3rem;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5 0 40%;
          flex: 2.5 0 40%;
}

.home-header-h1 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.home-header-icons {
  font-size: 1.2rem;
}

.suitcase {
  margin-left: 1.3rem;
}

.header-image {
  max-width: 1800px;
  height: 100vh;
  background-image: url(../sunshine-assets/home-1.jpeg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.header-image-blog {
  max-width: 1800px;
  margin: 0 auto;
  height: 80vh;
  background-image: url(../sunshine-assets/blog-1.jpeg);
  background-size: cover;
  background-position: center;
}

.header-image-contact {
  max-width: 1800px;
  margin: 0 auto;
  height: 65vh;
  background-image: url(../sunshine-assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cart {
  color: #A4F1DC;
}

footer {
  background-color: #000;
  font-family: 'Poppins', sans-serif;
}

.footer-flex {
  padding-top: 4.5rem;
  padding-bottom: 2.8rem;
}

.footer-flex li:focus a {
  color: #800080;
}

.footer-flex li:hover a {
  color: #EDEDED;
}

.footer-flex ul li a {
  text-transform: capitalize;
}

.footer-flex ul li a,
.form-footer p,
.copyright {
  color: #999;
}

.copyright i,
.form-footer i,
.footer-social-media i {
  color: #ededed;
}

.footer-social-media:focus i {
  color: #EDEDED;
}

.footer-pages {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 29%;
          flex: 1 0 29%;
}

.footer-pages li {
  margin: 0.5rem 0;
}

.form-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 38.5%;
          flex: 1 0 38.5%;
  border-bottom: 1px solid #999;
}

input[type="email"] {
  border: none;
  background-color: #000;
  color: #999;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.footer-social-media {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.footer-line {
  border-top: 1px solid #999;
}

main {
  background-color: #ededed;
}

.wrapper-main {
  max-width: 1600px;
  width: 54%;
  margin: 0 auto;
}

.wrapper-main h4 {
  padding: 14rem 0 7rem 0;
}

.wrapper-main h4,
.home-section-3-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 18rem 0 9rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #999999;
  font-weight: 700;
}

.home-main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 21rem;
}

.girl-smiling {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 34%;
          flex: 1 0 34%;
  border: 1.1rem solid white;
  margin: 0 3rem;
}

.home-section-1-info::before {
  content: '';
  width: 15%;
  border-top: 2px solid #999;
  display: block;
  padding-bottom: 2.5rem;
}

.home-section-1-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 43%;
          flex: 1 0 43%;
  margin-left: 2.6rem;
}

.home-section-1-info h2 {
  font-size: 3.5rem;
  font-family: 'Playfair Display', serif;
  line-height: 3.8rem;
}

.home-section-1-info p {
  color: #999;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.home-section-1-info span {
  font-weight: 700;
}

.resort-logo {
  width: 25%;
  position: absolute;
  bottom: -9rem;
  left: -7.5rem;
}

.main-image1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background-image: url(../sunshine-assets/home-3.jpeg);
  background-size: cover;
}

.home-section-2-container {
  max-width: 1800px;
  margin: 0 auto;
}

.home-section-2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section-2-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 77%;
          flex: 0 0 77%;
}

.home-section-2-flex-column h4 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.home-section-2-flex-column h4,
.home-section-2-flex-column p {
  font-family: 'Poppins', sans-serif;
}

.home-section-2-flex-column p {
  font-size: 1.15rem;
  color: #999;
  margin-top: 1rem;
  line-height: 2rem;
}

.home-section-2-info {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16rem 5rem 12rem 5rem;
}

.home-main-amenities {
  width: 33%;
  margin: 0 3rem 3rem 0;
  padding: 0.5rem;
}

.home-main-amenities:hover {
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.home-main-amenities i {
  font-size: 2.7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

/* next section  */
.pattern-bg {
  background-image: url(../sunshine-assets/pattern.png);
  max-width: 1800px;
  margin: 0 auto;
}

.wrapper-main-section-3 {
  max-width: 1600px;
  width: 60%;
  margin: 0 auto;
}

.wrapper-main-section-3 .home-section-3-title {
  padding: 5rem 0 5rem 0;
}

.home-section-3-box {
  padding: 6rem 0rem;
}

.testimonial {
  background-color: white;
  padding: 5rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.testimonial:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 1rem #000;
          box-shadow: 0.5rem 0.5rem 1rem #000;
}

.testimonial h2 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5rem;
}

.testimonial p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.7rem;
  width: 83%;
  line-height: 3rem;
  margin: auto;
}

.home-section-3-stars {
  margin: 3.5rem 0;
}

.home-section-3-stars i {
  font-size: 1.8rem;
  color: #F6AB09;
}

.home-chevron-right i,
.home-chevron-left i {
  font-size: 3.3rem;
  color: #000;
}

.home-chevron-right i:hover,
.home-chevron-left i:hover {
  color: #999;
}

.home-chevron-right {
  position: absolute;
  right: -8rem;
  bottom: 25rem;
}

.home-chevron-left {
  position: absolute;
  left: -8rem;
  bottom: 25rem;
}

.testimonial .adam-levine {
  font-family: 'Poppins', serif;
  color: #999;
  font-size: 1.2rem;
}

.testimonial .adam-levine span {
  color: #000;
}

.gallery {
  font-size: 5.5rem;
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
}

.home-gallery-images {
  margin-top: 4rem;
  padding-bottom: 17rem;
}

.home-gallery-images img {
  width: calc((100% / 3) - 8px);
  margin-top: 1rem;
  margin-right: 0.6rem;
}

.home-section-4 {
  background-color: white;
  max-width: 1800px;
  margin: 0 auto;
}

.main-image-2 {
  background-image: url(../sunshine-assets/home-10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 64rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
}

.home-section-4-info {
  margin: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-section-4-info h4 {
  font-family: 'Poppins', serif;
  font-size: 1rem;
  letter-spacing: 0.7rem;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.home-section-4-info h2 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 10rem;
}

.home-section-4-info h3 {
  font-size: 2rem;
  font-family: 'Playfair Display', sans-serif;
}

.home-section-4-info span {
  color: #999;
  font-weight: 400;
}

.home-section-4-info p {
  font-family: 'Poppins', serif;
  font-size: 1.2rem;
  margin: 1.3rem 0 2.4rem 0;
  width: 60%;
  line-height: 2rem;
}

.home-section-4-info .home-phone-number {
  font-size: 2.8rem;
}

.home-section-4-info .section-4-email {
  font-weight: 700;
  color: #000;
  font-family: 'Playfair Display', sans-serif;
}

.wrapper-blog {
  max-width: 1800px;
}

.wrapper-blog,
.blog-page-absolute,
.blog-page-main-info h2,
.related-post-info {
  margin: 0 auto;
}

.blog-page-absolute {
  background-color: white;
  width: 65%;
  padding: 7rem 3rem 2rem 3rem;
  position: relative;
  top: -8rem;
}

.blog-page-main-info h2 {
  font-size: 3rem;
  text-align: center;
  width: 60%;
}

.blog-trip-advisor {
  font-size: 1.1rem;
  font-family: 'Poppins', serif;
  color: #000000;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blog-page-main-info p a {
  color: #999999;
  text-decoration: none;
}

.alex-profile-pic {
  width: 50%;
}

.alex-profile-pic div {
  text-align: left;
}

.alex-profile-pic div h4 {
  font-size: 1.5rem;
  font-family: 'Playfair Display', sans-serif;
}

.alex-profile-pic img {
  width: 15%;
  border-radius: 50%;
  border: 1px solid white;
}

.alex-profile {
  margin-left: 1.5rem;
}

.alex-profile h4 {
  margin: 1.5rem 0 1rem 0;
}

.alex-profile p {
  font-family: 'Poppins', serif;
  color: #999;
}

.blog-side-info {
  width: 15%;
}

.blog-side-info h4 {
  font-size: 1.5rem;
  margin-top: 0.6rem;
}

.blog-side-info p {
  font-family: 'Poppins', serif;
  color: #999;
}

.blog-page-paragraphs {
  border-top: 1px solid #CCCCCC;
  margin-top: 3rem;
}

.blog-page-paragraphs p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 2rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-family: 'Poppins', serif;
}

.blog-bold-p {
  margin-top: 3rem;
}

.blog-page-paragraphs p:not(.blog-bold-p) {
  font-weight: 400;
  margin-top: 2rem;
  color: #ccc;
}

.share-icons {
  width: 20%;
  color: #ccc;
  margin: 5rem 0 7rem 0;
}

.share-icons i {
  width: 12%;
  color: #ccc;
  font-size: 1.2rem;
}

.share-icons i:hover {
  color: #A4F1DC;
}

.share-icons span {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.related-post {
  width: calc 31.33333%;
  border-top: 1px solid #ccc;
  margin-top: 4rem;
  margin-right: 2rem;
}

.related-post:hover {
  -webkit-box-shadow: 1px 1px 15px #000;
          box-shadow: 1px 1px 15px #000;
}

.related-post:hover .related-post-info p {
  text-decoration: underline;
}

.related-post-container h3 {
  font-size: 2.6rem;
  padding-bottom: 2rem;
}

.related-post-info-container {
  width: 100%;
}

.related-post img {
  width: 100%;
}

.related-post-info {
  width: 85%;
  padding: 1.4rem 0;
}

.date {
  font-size: 1.2rem;
  font-family: 'Poppins', serif;
  color: #999;
}

.related-post-info p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.related-post-info .blog-continue {
  font-family: 'Poppins', serif;
  font-size: 1.1rem;
}

.comment {
  margin-top: 3rem;
}

.comment h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.blog-comments img {
  width: 6%;
}

.single-comment {
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #f5f3f3;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.text-comment .body {
  position: relative;
  max-width: 800px;
  height: auto;
  margin: 1.25px 0.62rem;
  padding: 5px;
  background-color: #f5f3f3;
  border: 5px solid #f5f3f3;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: 'Poppins', serif;
  line-height: 1.5;
  color: #f5f3f3;
}

.message {
  padding: 1rem 1.5rem;
}

.message h5 {
  font-size: 1.2rem;
}

.message p {
  font-size: 1rem;
  padding-top: 0.7rem;
  color: #999;
  margin-bottom: 1rem;
}

.message-box span {
  color: #ccc;
}

.message-box .message-reply {
  color: #A4F1DC;
  text-transform: capitalize;
}

.blog-forms h2 {
  margin-top: 5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.blog-forms form {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.blog-forms .forms-your-comment {
  border-bottom: none;
  margin-top: 2rem;
}

.blog-forms input[type="text"] {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 30%;
  padding-bottom: 1rem;
}

.blog-forms input[type="email"] {
  background-color: white;
  border-bottom: 1px solid #ccc;
  width: 30%;
  padding-bottom: 1rem;
}

input {
  margin-right: 1.9rem;
}

.blog-button-overline {
  border-top: 1px solid #ccc;
}

.blog-button-overline .blog-button {
  padding: 1.5rem 3.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #84A016;
  text-transform: uppercase;
  border-radius: 0.1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border: none;
}

.blog-button:focus {
  border: 1px dotted #800080;
}

.contact-image-main {
  height: 70vh;
  background-image: url(../sunshine-assets/contact-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-image-main,
.wrapper-contact {
  max-width: 1800px;
  margin: 0 auto;
}

.wrapper-contact {
  width: 60%;
}

.wrapper-contact > h2 {
  font-size: 4.5rem;
  padding-top: 10rem;
}

.wrapper-contact > p {
  width: 50%;
  line-height: 2rem;
}

.wrapper-contact > p,
.contact-options p,
.contact-touch p {
  color: #999999;
}

.wrapper-contact > p,
.contact-options p {
  font-size: 1rem;
}

.wrapper-contact > p,
.contact-options p,
.contact-touch p,
.contact-button button {
  font-family: 'Poppins', serif;
}

.contact-option-container {
  width: 95%;
  margin: 2rem auto;
}

.contact-options {
  width: 32%;
  padding: 3.3rem 2rem 3.3rem 3.3rem;
}

.contact-options i {
  font-size: 3rem;
}

.contact-options h4 {
  font-size: 1.6rem;
  margin-top: 1.1rem;
}

.contact-options h4,
.contact-button button {
  color: #000000;
}

.contact-options p {
  line-height: 1.5rem;
  margin-top: 0.6rem;
}

.contact-option-container .contact-options:not(.contact-email) {
  border-right: 1px solid #ccc;
}

.contact-touch h2 {
  font-size: 4rem;
}

.contact-touch p {
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.contact-button {
  border-top: 1px solid #ccc;
  margin-bottom: 5rem;
}

.contact-button button {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  margin: 4rem 0 3rem 0;
  text-transform: uppercase;
  font-weight: 700;
}

.contact-button button:focus {
  border: 1px dotted #800080;
}
