a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

*,
.shopping {
  color: #000000;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #EDEDED;
}

header .fixed {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

header .wrapper-header {
  max-width: 1600px;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
}

header .wrapper-header .header-container {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  width: 100%;
}

nav .flex-header li a {
  text-transform: uppercase;
  font-weight: 600;
}

nav .flex-header .flex-header li:focus a {
  color: #800080;
}

nav .flex-header .flex-header li:hover a {
  color: #999999;
}

.flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex li a {
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.first-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  min-width: 6.2rem;
}

.header-logo {
  text-align: center;
  padding-left: 3rem;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5 0 40%;
          flex: 2.5 0 40%;
}

.header-logo h1 {
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.header-icons {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.suitcase {
  margin-left: 1.3rem;
}

.cart {
  color: #A4F1DC;
  top: -5px;
  right: -33px;
}

.shopping {
  top: -10px;
  right: -5px;
  font-size: 0.9rem;
}

.cart,
.shopping {
  position: relative;
}

.header-image {
  height: 100vh;
  background-image: url(../sunshine-assets/home-1.jpeg);
}

.header-image-blog {
  height: 80vh;
  background-image: url(../sunshine-assets/blog-1.jpeg);
}

.header-image-contact {
  height: 65vh;
  background-image: url(../sunshine-assets/contact-1.jpeg);
}

.header-image,
.header-image-blog,
.header-image-contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
}

.wrapper-footer,
.header-image,
.header-image-blog,
.header-image-contact {
  margin: 0 auto;
}

footer {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

.wrapper-footer {
  max-width: 1600px;
  width: 60%;
}

.footer-flex {
  padding-top: 4.5rem;
  padding-bottom: 4.8rem;
}

.footer-flex li:focus a {
  color: #800080;
}

.footer-flex .footer-pages {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 29%;
          flex: 1 0 29%;
}

.footer-flex .footer-pages li a {
  text-transform: capitalize;
  color: #999999;
  font-size: 1.1rem;
}

.footer-flex .footer-pages li:hover a {
  color: #EDEDED;
}

.footer-flex .footer-pages li {
  margin: 0.5rem 0;
}

.footer-flex .form-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 38.5%;
          flex: 1 0 38.5%;
  border-bottom: 1px solid #EDEDED;
}

.footer-flex .form-footer p {
  color: #999999;
  margin-bottom: 1.7rem;
}

.footer-flex .form-footer i {
  color: #fff;
}

.footer-flex .form-footer input[type="email"] {
  border: none;
  color: #999999;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  background-color: #000000;
}

.copyright {
  color: #999999;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.copyright i {
  color: #EDEDED;
}

.footer-social-media {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
}

.footer-social-media i,
.footer-social-media:focus i {
  color: #EDEDED;
}

.footer-line {
  border-top: 1px solid #999999;
}

main {
  background-color: #EDEDED;
}

.wrapper-main {
  width: 54%;
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper-main h4 {
  padding: 14rem 0 7rem 0;
  color: #999999;
  padding: 18rem 0 9rem 0;
  letter-spacing: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}

.wrapper-main .home-main-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  margin-bottom: 21rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-main .home-main-flex .girl-smiling {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 34%;
          flex: 1 0 34%;
  border: 1.1rem solid #fff;
  margin: 0 3rem;
}

.wrapper-main .home-main-flex .resort-logo {
  width: 25%;
  bottom: -9rem;
  left: -7.5rem;
  position: absolute;
}

.home-section-1-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 43%;
          flex: 1 0 43%;
  margin-left: 2.6rem;
}

.home-section-1-info h2 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-family: 'Playfair Display', serif;
}

.home-section-1-info p {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  line-height: 2.5rem;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.home-section-1-info p span {
  font-weight: 700;
}

.home-section-1-info::before {
  content: '';
  width: 15%;
  border-top: 2px solid #999999;
  display: block;
  padding-bottom: 2.5rem;
}

.home-section-2-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section-2-container {
  max-width: 1600px;
  margin: 0 auto;
}

.home-section-2-container .home-section-2-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16rem 5rem 12rem 5rem;
  background-color: #fff;
}

.home-main-amenities:hover {
  -webkit-box-shadow: 1px 1px 5px #000000;
          box-shadow: 1px 1px 5px #000000;
}

.home-main-amenities {
  width: 33%;
  margin: 0 3rem 3rem 0;
  padding: 0.5rem;
}

.home-main-amenities i {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  font-size: 2.8rem;
}

.home-main-amenities .home-section-2-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 77%;
          flex: 0 0 77%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-main-amenities .home-section-2-flex-column p {
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;
  color: #999999;
  margin-top: 1rem;
  line-height: 2rem;
}

.home-main-amenities .home-section-2-flex-column h4 {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.main-image-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background-image: url(../sunshine-assets/home-3.jpeg);
  background-size: cover;
}

.pattern-bg {
  margin: 0 auto;
  max-width: 1600px;
  background-image: url(../sunshine-assets/pattern.png);
}

.pattern-bg .wrapper-main-section-3 {
  max-width: 1600px;
  margin: 0 auto;
  width: 60%;
}

.pattern-bg .wrapper-main-section-3 .home-section-3-box {
  padding: 6rem 0rem;
}

.pattern-bg .wrapper-main-section-3 .home-section-3-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #999999;
  padding: 5rem 0;
  text-align: center;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}

.pattern-bg .wrapper-main-section-3 .gallery {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 5.5rem;
}

.testimonial {
  text-align: center;
  position: relative;
  padding: 5rem;
  background-color: #fff;
  z-index: 1;
}

.testimonial .adam-levine {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.testimonial h2,
.testimonial p {
  font-family: 'Playfair Display', serif;
}

.testimonial h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.testimonial p {
  width: 83%;
  line-height: 3rem;
  margin: auto;
  font-size: 1.7rem;
  font-weight: 400;
}

.testimonial .home-chevron-right {
  position: absolute;
  bottom: 25rem;
  right: -8rem;
}

.testimonial .home-chevron-left {
  position: absolute;
  bottom: 25rem;
  left: -8rem;
}

.testimonial .home-chevron-right i:hover,
.testimonial .home-chevron-left i:hover {
  color: #999999;
}

.testimonial .home-chevron-right i,
.testimonial .home-chevron-left i {
  color: #000000;
  font-size: 3.3rem;
}

.testimonial .adam-levine span {
  color: #000000;
}

.home-section-3-stars {
  margin: 3.5rem 0;
}

.home-section-3-stars i {
  color: #F6AB09;
  font-size: 1.7rem;
}

.testimonial:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 1rem #000000;
          box-shadow: 0.5rem 0.5rem 1rem #000000;
}

.home-gallery-images {
  margin-top: 4rem;
  padding-bottom: 17rem;
}

.home-gallery-images img {
  margin-top: 1rem;
  width: calc((100% / 3) - 8px);
  margin-right: 0.6rem;
}

.home-gallery-images img:hover {
  -webkit-box-shadow: 1px 1px 15px #000000;
          box-shadow: 1px 1px 15px #000000;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.home-section-4 {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

.home-section-4 .main-image-2 {
  background-size: cover;
  background-image: url(../sunshine-assets/home-10.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 64rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57%;
          flex: 1 1 57%;
}

.home-section-4 .home-section-4-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.home-section-4 .home-section-4-info h4,
.home-section-4 .home-section-4-info span {
  color: #999999;
}

.home-section-4 .home-section-4-info h3 {
  font-size: 2rem;
  font-weight: 700;
}

.home-section-4 .home-section-4-info h4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.7rem;
  margin-bottom: 2.4rem;
}

.home-section-4 .home-section-4-info h4,
.home-section-4 .home-section-4-info p {
  font-family: 'Poppins', sans-serif;
}

.home-section-4 .home-section-4-info p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1.3rem 0 2.4rem 0;
  width: 60%;
}

.home-section-4 .home-section-4-info h2,
.home-section-4 .home-section-4-info h3 {
  font-family: 'Playfair Display', serif;
}

.home-section-4 .home-section-4-info h2 {
  font-size: 4.5rem;
  margin-bottom: 10rem;
}

.home-section-4 .home-section-4-info .home-phone-number {
  font-size: 2.8rem;
}

.home-section-4-info .section-4-email {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  color: #000000;
}

.wrapper-blog {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper-blog .blog-page-absolute {
  margin: 0 auto;
  width: 65%;
  padding: 7rem 3rem 2rem 3rem;
  top: -8rem;
  position: relative;
  background-color: #fff;
}

.wrapper-blog .blog-page-absolute .blog-page-main-info h2 {
  width: 60%;
  font-size: 2.9rem;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 3rem;
  line-height: 3rem;
  text-align: center;
}

.blog-trip-advisor {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  margin: 2rem 0 5rem 0;
  text-align: center;
}

.blog-trip-advisor a {
  color: #999999;
  text-decoration: none;
}

.alex-profile-pic {
  width: 50%;
}

.alex-profile-pic img {
  width: 15%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.alex-profile-pic .alex-profile {
  margin-left: 1.5rem;
  text-align: left;
}

.alex-profile-pic .alex-profile h4 {
  font-family: 'Playfair Display', serif;
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}

.alex-profile-pic .alex-profile p {
  color: #999999;
  font-family: 'Poppins', sans-serif;
}

.alex-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-side-info {
  width: 15%;
  margin-top: 1.8rem;
}

.blog-side-info h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.blog-side-info p {
  font-family: 'Poppins', sans-serif;
  color: #999999;
  margin-top: 1rem;
}

.blog-page-paragraphs {
  margin-top: 3rem;
  border-top: 1px solid #CCCCCC;
}

.blog-page-paragraphs p {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1.2rem;
  text-align: left;
  line-height: 2rem;
}

.blog-page-paragraphs .blog-bold-p {
  margin-top: 3rem;
}

.blog-page-paragraphs .share-icons {
  width: 20%;
  color: #CCCCCC;
  margin: 5rem 0 7rem 0;
}

.blog-page-paragraphs .share-icons span {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.blog-page-paragraphs .share-icons i {
  font-size: 1.4rem;
  width: 12%;
  color: #CCCCCC;
}

.blog-page-paragraphs .share-icons i:hover {
  color: #A4F1DC;
}

.blog-page-paragraphs p:not(.blog-bold-p) {
  font-weight: 400;
  color: #CCCCCC;
  margin-top: 2rem;
}

.related-post-container h3 {
  font-weight: 700;
  font-size: 2.6rem;
  padding-bottom: 2rem;
}

.blog-container {
  border-top: 1px solid #CCCCCC;
}

.blog-container .related-post {
  border-top: 1px solid #CCCCCC;
  margin-right: 2rem;
  width: calc 31.33333%;
  margin-top: 4rem;
}

.blog-container .related-post img {
  width: 100%;
}

.blog-container .related-post:hover {
  -webkit-box-shadow: 1px 1px 15px #000000;
          box-shadow: 1px 1px 15px #000000;
}

.related-post:hover .related-post-info p {
  text-decoration: underline;
}

.related-post-info-container {
  width: 100%;
}

.related-post-info-container .related-post-info {
  margin: 0 auto;
  width: 86%;
  padding: 1.4rem 0;
}

.related-post-info-container .date {
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.related-post-info-container p {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.related-post-info-container .blog-continue {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 2rem;
}

.comment {
  margin-top: 8rem;
}

.comment h2 {
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

.comment .single-comment {
  border-top: 1px solid #CCCCCC;
  padding-top: 2rem;
}

.comment .blog-comments img {
  width: 6%;
}

.comment .text-comment {
  width: 90%;
  margin-top: 2rem;
}

.body {
  position: relative;
  max-width: 800px;
  height: auto;
  margin: 1.25px 0.62rem;
  padding: 5px;
  background-color: #f3f3f3;
  border: 5px solid #f3f3f3;
}

.body .blog-arrow {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #f3f3f3;
}

.body .blog-arrow-l {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.body .message {
  font-family: 'Poppins', sans-serif;
  min-height: 30px;
  border-radius: 1.85rem;
  line-height: 1.5;
  padding: 1rem 1.5rem;
}

.body .message h5 {
  font-size: 1.2rem;
}

.body .message .message-reply {
  color: #A4F1DC;
  text-transform: capitalize;
}

.body .message p {
  color: #999999;
  margin-bottom: 1rem;
  padding-top: 0.7rem;
  font-size: 1rem;
}

.body .message span {
  color: #CCCCCC;
}

.blog-forms h2 {
  margin-top: 8rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #CCCCCC;
}

.blog-forms form {
  margin: 3rem 0 7rem 0;
}

.blog-forms form input {
  margin-right: 2rem;
}

.blog-forms form input[type="email"] {
  background-color: #fff;
}

.blog-forms form input[type="text"] {
  text-decoration: none;
}

.blog-forms form input[type="email"],
.blog-forms form input[type="text"] {
  width: 30%;
  padding-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #CCCCCC;
}

.blog-forms form .forms-your-comment-w {
  height: 8rem;
  width: 90%;
  margin-top: 2rem;
  border-bottom: none;
  border: none;
}

.blog-button-overline {
  border-top: 1px solid #CCCCCC;
}

.blog-button-overline .blog-button {
  font-size: 1rem;
  padding: 1.5rem 3.2rem;
  font-weight: 600;
  background-color: #84A016;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.1rem;
  margin: 5rem 0 3rem 0;
  border: none;
}

.blog-button-overline .blog-button:focus {
  border: 1px solid #800080;
}

.blog-button-overline .blog-button:hover {
  color: #000000;
}

.wrapper-contact {
  max-width: 1600px;
  margin: 0 auto;
  width: 60%;
}

.wrapper-contact > h2 {
  font-size: 3.5rem;
  padding-top: 10rem;
  font-family: 'Playfair Display', serif;
}

.wrapper-contact > p {
  width: 50%;
  line-height: 2rem;
  color: #999999;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 1.3rem;
}

.wrapper-contact .contact-option-container {
  width: 95%;
  margin: 2rem auto;
}

.contact-options:not(.contact-email) {
  border-right: 1px solid #CCCCCC;
}

.contact-options {
  width: 32%;
  padding: 3.3rem 2rem 3.3rem 3.3rem;
}

.contact-options i {
  font-size: 3rem;
}

.contact-options h4 {
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  color: #000000;
  margin-top: 1.1rem;
}

.contact-options p {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #999999;
  line-height: 1.5rem;
  margin-top: 0.6rem;
}

.contact-touch h2 {
  font-size: 3.5rem;
  font-family: 'Playfair Display', serif;
}

.contact-touch p {
  font-family: 'Poppins', sans-serif;
  color: #999999;
  margin-bottom: 6rem;
  border-bottom: none;
  margin-top: 2rem;
}

.contact-forms {
  border-bottom: none;
  margin-top: 2rem;
}

.contact-forms input[type="email"] {
  background-color: #EDEDED;
}

.contact-forms input[type="text"] {
  border: none;
  text-decoration: none;
}

.contact-forms input[type="email"],
.contact-forms input[type="text"] {
  width: 30%;
  padding-bottom: 1rem;
  margin-right: 2rem;
  border-bottom: 1px solid #CCCCCC;
}

.contact-forms input[type="textarea"] {
  height: 6rem;
  margin-bottom: 8rem;
}

.contact-forms .forms-your-comment {
  font-size: 1.1rem;
  width: 100%;
  height: 4rem;
  background-color: #EDEDED;
  border: none;
  text-decoration: none;
}

.contact-forms .forms-your-comment:hover {
  color: #000000;
}

.contact-button {
  margin-bottom: 5rem;
  border-top: 1px solid #CCCCCC;
}

.contact-button button {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000000;
  margin: 4rem 0 3rem 0;
  padding: 0.7rem 0;
  border: none;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-button button:focus {
  border: 1px dotted #800080;
}

.contact-image-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 70vh;
  background-image: url(../sunshine-assets/contact-2.jpeg);
  margin: 0 auto;
}

@media (max-width: 1082px) {
  * {
    color: red;
  }
  header .wrapper-header {
    width: 70%;
  }
  .wrapper-main {
    width: 70%;
  }
  .home-section-4 .home-section-4-info {
    margin: 9rem;
  }
  .wrapper-footer {
    width: 70%;
  }
}

@media (max-width: 938px) {
  * {
    color: green;
  }
  header .wrapper-header {
    width: 80%;
  }
  .wrapper-main {
    width: 75%;
  }
  .wrapper-main h4 {
    padding: 14rem 0 8rem 0;
  }
  .home-section-2-container .home-section-2-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12rem 3rem 7rem 3rem;
  }
  .home-section-2-container .home-section-2-info .home-main-amenities {
    width: 40%;
  }
  .pattern-bg .wrapper-main-section-3 {
    width: 75%;
  }
  .home-section-4 .home-section-4-info {
    margin: 7rem;
  }
  .wrapper-footer {
    width: 80%;
  }
}
